:root {
  --font-family: ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  --text-color: #d1d5db;
}

.section-title {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  display: block;
}

.abstract {
  font-family: var(--font-family);
  font-size: 13px;
  color: gray;
}

.meta-data, .date-published{
  font-family: var(--font-family);
  font-size: 12px;
  color: gray;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.abstract a {
  text-decoration: none !important;
  color: inherit !important;
}

[data-md-color-scheme="slate"] {
  --md-mermaid-sequence-actor-bg-color: #22283e;   /* dark background */
  --md-mermaid-sequence-actor-border-color: #4b62e3; 
  --md-mermaid-node-bg-color: #22283e;
  --md-mermaid-node-fg-color: #3e4fae;
}

